<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anakin/trans.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1020},{1,1}}</string>
				<key>offset</key>
				<string>{62,-78}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,158}</string>
			</dict>
			<key>anakin/h1 - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,662},{137,160}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,200}</string>
			</dict>
			<key>anakin/h1.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,822},{137,160}}</string>
				<key>offset</key>
				<string>{-2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,200}</string>
			</dict>
			<key>anakin/h2 - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,0},{212,176}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,200}</string>
			</dict>
			<key>anakin/h2.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,450},{212,176}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,200}</string>
			</dict>
			<key>anakin/h3 - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,0},{180,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,270}</string>
			</dict>
			<key>anakin/h3.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,270},{180,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,270}</string>
			</dict>
			<key>anakin/h4 - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,476},{180,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,272}</string>
			</dict>
			<key>anakin/h4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,748},{180,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,272}</string>
			</dict>
			<key>anakin/h5 - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,212},{116,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,224}</string>
			</dict>
			<key>anakin/h5.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,0},{116,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,224}</string>
			</dict>
			<key>anakin/h6 - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,662},{120,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,204}</string>
			</dict>
			<key>anakin/h6.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,866},{120,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,204}</string>
			</dict>
			<key>anakin/h7 - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{207,238}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,244}</string>
			</dict>
			<key>anakin/h7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{207,238}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,244}</string>
			</dict>
			<key>anakin/h8 - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,476},{204,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,240}</string>
			</dict>
			<key>anakin/h8.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,716},{204,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,240}</string>
			</dict>
			<key>anakin/s1 - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,436},{108,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,200}</string>
			</dict>
			<key>anakin/s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,636},{108,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,200}</string>
			</dict>
			<key>anakin/s2 - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,744},{108,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,200}</string>
			</dict>
			<key>anakin/s2.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,744},{108,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,200}</string>
			</dict>
			<key>anakin/s3 - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,0},{108,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,200}</string>
			</dict>
			<key>anakin/s3.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,116},{108,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,200}</string>
			</dict>
			<key>anakin/s4 - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,224},{108,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,200}</string>
			</dict>
			<key>anakin/s4.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,424},{108,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,200}</string>
			</dict>
			<key>anakin/s5 - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,224},{108,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,200}</string>
			</dict>
			<key>anakin/s5.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,424},{108,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>anakin.png</string>
			<key>realTextureFileName</key>
			<string>anakin.png</string>
			<key>size</key>
			<string>{949,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>949</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>