<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>explosion/frame0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,761},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>
			<key>explosion/frame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,717},{44,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,31}</string>
			</dict>
			<key>explosion/frame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,624},{50,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,33}</string>
			</dict>
			<key>explosion/frame3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,844},{6,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{6,3}</string>
			</dict>
			<key>explosion/frame4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,674},{43,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,33}</string>
			</dict>
			<key>explosion/frame5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,572},{52,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,43}</string>
			</dict>
			<key>explosion/frame6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>
			<key>explosion/frame7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{56,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,53}</string>
			</dict>
			<key>explosion/frame8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,405},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>
			<key>explosion/frame9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,127},{55,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>explosion/frame90.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>explosion/frame91.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,183},{55,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>explosion/frame92.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,239},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>explosion/frame93.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,516},{53,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,56}</string>
			</dict>
			<key>explosion/frame94.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,294},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>explosion/frame95.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,803},{41,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,18}</string>
			</dict>
			<key>explosion/frame10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>explosion.png</string>
			<key>realTextureFileName</key>
			<string>explosion.png</string>
			<key>size</key>
			<string>{128,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>