<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anakin/h1.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,45},{35,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,50}</string>
			</dict>
			<key>anakin/h2.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,0},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,50}</string>
			</dict>
			<key>anakin/h3.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,0},{45,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,68}</string>
			</dict>
			<key>anakin/h4.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,0},{45,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,68}</string>
			</dict>
			<key>anakin/h5.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,53},{29,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,56}</string>
			</dict>
			<key>anakin/h6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{30,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,51}</string>
			</dict>
			<key>anakin/h7.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,0},{53,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,61}</string>
			</dict>
			<key>anakin/h8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{61,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>anakin/s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,45},{27,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,50}</string>
			</dict>
			<key>anakin/s2.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,45},{27,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,50}</string>
			</dict>
			<key>anakin/s3.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,72},{27,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,50}</string>
			</dict>
			<key>anakin/s4.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,80},{27,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,50}</string>
			</dict>
			<key>anakin/s5.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,82},{27,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>anakin.png</string>
			<key>realTextureFileName</key>
			<string>anakin.png</string>
			<key>size</key>
			<string>{512,128}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>128</integer>
		</dict>
	</dict>
</plist>